@model Euricom.Timesheets.Models.HomeModel

@{
    ViewBag.Title = "Home Page";
}

@section Head {
    <script type="text/javascript">

        $(function () {

            timesheets.Day = function (date, isWeekend, workingDay) {
                this.date = date;
                this.isWeekend = isWeekend;
                this.workingDay = workingDay;

                this.cssclass = ko.computed(function () {
                    return this.isWeekend ? "weekend" : "regularDay";
                }, this);

                this.formattedDay = ko.computed(function () {
                    var currentDate = new Date(this.date);
                    return currentDate.getDate() + "/" + (currentDate.getMonth() + 1) + "/" + currentDate.getFullYear();
                }, this);
            };

            var timesheet = function () {
                this.id = ko.observable("");
                this.name = ko.observable("");
                this.year = ko.observable("");
                this.month = ko.observable("");
                this.timesheetDays = ko.observableArray([]);
            };

            timesheetViewModel = function () {
                this.timesheet = new timesheet();

                this.reloadDays = function () {
                    if ($.trim(this.timesheet.name()) == "" || this.timesheet.month() == "" || this.timesheet.year() == "") {
                        alert('Please fill in all the fields.');
                        return;
                    }

                    var self = this;

                    this._fetchDates(function (timesheetId, days) {
                        self.timesheet.id = timesheetId;
                        self.timesheet.timesheetDays.removeAll();
                        for (var day in days) {
                            self.timesheet.timesheetDays.push(days[day]);
                        }
                    });
                };

                this.sendWorkingDays = function () {
                    var self = this;
                    var requestUrl = '@Url.RouteUrl("DefaultApi", new { httproute = "", controller = "timesheets" })';

                    var timesheet = ko.toJSON(self.timesheet);

                    var httpVerb = !self.timesheet.id ? "POST" : "PUT";

                    $.ajax({
                        type: httpVerb,
                        url: requestUrl,
                        dataType: "json",
                        contentType: "application/json",
                        data: timesheet,
                        success: function (result) {
                            self.timesheet.id = result.id;
                            alert('Timesheet saved.'); this
                        },
                        error: function (error) {
                            alert(error);
                        }
                    });
                };

                this._fetchDates = function (callback) {
                    var requestUrl = '@Url.RouteUrl("DefaultApi", new { httproute = "", controller = "timesheets" })';
                    requestUrl += '/' + this.timesheet.name() + '/' + this.timesheet.year() + '/' + this.timesheet.month();

                    $.getJSON(requestUrl, function (data) {
                        var dates = [];
                        jQuery.each(data.timesheetDays, function (i, val) {
                            dates.push(new timesheets.Day(val.Date, val.IsWeekend, val.WorkingDay));
                        });
                        callback(data.id, dates);
                    });
                };
            }

            ko.applyBindings(new timesheetViewModel());
        });        
       
    </script>
}

<table>
    <tr>
        <td>@Html.LabelFor(m => m.Name)</td>
        <td>@Html.TextBoxFor(m => m.Name, new { data_bind = "value:timesheet.name" })</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.Month)</td>
        <td>@Html.DropDownListFor(m => m.Month, Model.Months, new { data_bind = "value:timesheet.month" })</td>
    </tr>

    <tr>
        <td>@Html.LabelFor(m => m.Year)</td>
        <td>@Html.DropDownListFor(m => m.Year, Model.Years, new { data_bind = "value:timesheet.year" })</td>
    </tr>

    <tr>
        <td colspan="2" align="right">
            <input type="submit" name="Submit" value="Get timesheet" data-bind="click: reloadDays" />
            <input type="button" name="Send" value="Send Working Days" data-bind="click: sendWorkingDays" />
        </td>
    </tr>
</table>

<table id="calendar" style="width: 100%">
    <tbody data-bind="foreach: timesheet.timesheetDays">
        <tr style="height: 40px;" data-bind="attr: { 'class': cssclass }">
            <td style="width: 10%" data-bind="text: formattedDay"></td>
            <td style="width: 90%" ><input type="text" data-bind="value: workingDay, visible: !isWeekend"/></td>
        </tr>
    </tbody>
</table>

