@model Euricom.Timesheets.Models.HomeModel

@{
    ViewBag.Title = "Home Page";
}

@section Head {
    <script type="text/javascript">
        $(function () {

            timesheets.Day = function (day, isWeekend) {
                this.day = day;
                this.isWeekend = isWeekend;

                this.cssclass = ko.computed(function () {
                    return this.isWeekend ? "weekend" : "regularDay";                    
                }, this);

                this.formattedDay = ko.computed(function () {
                    return this.day.getDate() + "/" + (this.day.getMonth() + 1) + "/" + this.day.getFullYear();
                }, this);
            };

            timesheets.ViewModel = function (days) {
                this.days = ko.observableArray(days);
            };

            $("form").submit(function (e) {
                var month = $('#Month').val();
                var year = $('#Year').val();

                var requestUrl = '@Url.RouteUrl("DefaultApi", new { httproute = "", controller = "timesheets" })';
                requestUrl += '/' + year + '/' + month;

                $.get(requestUrl, function (data) {
                    var dates = [];
                    jQuery.each(data, function (i, val) {
                        dates.push(new timesheets.Day(
                            new Date(val.Date), val.IsWeekend));
                    });

                    ko.applyBindings(new timesheets.ViewModel(dates));
                });

                e.preventDefault();
            });
        });        
       
    </script>
}

@using (Html.BeginForm())
{
    <table>
        <tr>
            <td>@Html.LabelFor(m => m.Month)</td>
            <td>@Html.DropDownListFor(m => m.Month, Model.Months)</td>
        </tr>

        <tr>
            <td>@Html.LabelFor(m => m.Year)</td>
            <td>@Html.DropDownListFor(m => m.Year, Model.Years)</td>
        </tr>

        <tr>
            <td colspan="2" align="right">
                <input type="submit" name="Submit" value="Submit" />
            </td>
        </tr>
    </table>
}

<table>
    <tbody data-bind="foreach: days">
        <tr>
            <td data-bind="text: formattedDay, attr: { 'class': cssclass }"></td>
        </tr>
    </tbody>
</table>

