<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Timesheets</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

        <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />        
        <link href="@Url.Content("~/Content/bootstrap-responsive.min.css")" rel="stylesheet" type="text/css" />                
        <link href="@Url.Content("~/Content/bootstrap-custom.css")" rel="stylesheet" type="text/css" />                
        
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <script src="@Url.Content("~/Scripts/jquery.1.7.1.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/knockout-2.0.0.js")" type="text/javascript"></script>
        <script type="text/javascript">
            // define timesheets ns
            var timesheets = timesheets || {};

            $(function () {
                var applicationNameUrl = '@Url.RouteUrl("DefaultApi", new { httproute = "", controller = "ApplicationName" })';

                $.get(applicationNameUrl, function(data) {
                    $(".applicationName").text(data.Value);                     
                });
            });
        </script>
        @RenderSection("Head", required : false)
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand applicationName" href="#">Loading..</a>
            <div class="nav-collapse">
                <ul class="nav">                      
                    <li class="">
                        @Html.ActionLink("Home", "Index", "Home")
                    </li>                                                      
                </ul>
            </div>
        </div>
        </div>
        </div>

        <div class="container">
        <header class="jumbotron subhead">
            <h1 class="applicationName">Loading..</h1>            
        </header>

        @RenderBody()

        <footer class="footer">
            <p>We can put a footer here</p>
        </footer>
    </div>
      
    </body>
</html>
